<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dropbox_siadneva.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F2856961C68096F00D1EFAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2856AA1C68097000D1EFAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F2856B51C68097000D1EFAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
